@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.clr-org {
  color: orange;
}
section {
  margin-bottom: 150px;
}
.flexible {
  display: flex;
}
/* header */
.head {
  padding: 30px;
  margin-top: 100px;
}
.hero {
  width: 50%;
  padding-left: 5%;
}
.head h1 {
  font-size: 45px;
  margin-left: 10px;
}
.head p {
  margin-bottom: 30px;
}
.border {
  border-left: 5px solid tomato;
}
.hero .img {
  display: flex;
  justify-content: center;
}
.hero img {
  width: 80%;
}
.btn {
  text-decoration: none;
  background-color: tomato;
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.card h1 {
  font-size: 45px;
  text-align: center;
}

.card-hero {
  width: 30%;
  margin-left: 2%;
  margin-right: 2%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 8px -5px 20px #00000038;
}
.card-hero img {
  width: 50%;
}
.card-hero h2 {
  font-size: 30px;
}
#card-1 {
  background-color: #edf5f6;
}
#card-2 {
  background-color: #ffeeee;
}
#card-3 {
  background-color: #fff4d6;
}
.develop {
  margin-top: 100px;
}
.develop h1 {
  font-size: 35px;
}
.develop p {
  font-size: 15px;
  margin-bottom: 40px;
}
.develop.hero {
  padding: 0;
}
#develop {
  background-image: url(images/shapes/dream-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.project {
  margin-top: 80px;
  margin-left: 50px;
}
.project .hero {
  padding: 0;
}
.project h1 {
  font-size: 35px;
}
.project p {
  font-size: 15px;
  margin-bottom: 40px;
}
footer {
  background-color: black;
  padding: 20px;
}
footer h2 {
  color: white;
  font-size: 35px;
  text-align: center;
}
footer p {
  color: white;
  text-align: center;
  font-size: 15px;
}
